*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.task-container {
    border: 2px solid blue;
    margin: 5px 0;
    padding: 1rem;
}

#new-task {
    display: none;
    border: 3px solid red;
}

#edit-task {
  display: none;
  border: 3px solid greenyellow;
}

#new-sticky {
  display: none;
  border: 3px solid pink;
}

.active {
  background-color: green;
}

.completed {
  display: none;
}

.container {
  display: flex;
  gap: 5rem;
  padding: 1rem;
}

#sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

ul{
  list-style: none;
}
